*.pyc
/assets/learned_models/
/DPT/weights/
/underwater_env
/.idea
/old_envs
/ml-agents
/Unity
.vscode/
/images
yolov5s.pt
/runs
/exdark
best.pt
bottle-only.pt
funie_generator.pth
policy.pth
running_state.p

